@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #396e94;
  --secondary-color: #e7c24f;
  --accent1-color: #a43312;
  --accent2-color: #381d2a;
  --heading-font: 'Roboto', sans-serif;
  --paragraph-font: 'Open Sans', sans-serif;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--secondary-color);
}

p {
  padding: 0;
}

nav {
  background-color: var(--accent2-color);
  padding: 10px;
  display: flex;
  gap: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  background-color: var(--accent1-color);
  border-radius: 5px;
}

nav a:hover {
  background-color: var(--primary-color);
}

footer {
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}
